#messages_list {
  padding: 1rem;
  border: 1px solid #CFCECE;
  border-radius: 5px;

  .message-row {
    & + .message-row {
      margin-top: 0.5rem;
    }

    & > .message-item {
      padding: 0 0.75rem;
      border-radius: 5px;
      background-color: #a2c9f6;
      display: inline-block;

      .name {
        font-weight: 700;
      }

      .content {
        white-space: pre-line;
        margin-left: 1rem;
      }
    }
  }
}

#new_message {
  resize: none;
}

#message_form {
  .form-group .alert {
    margin-top: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
